body{
	margin: 0px;
	font-family:Beth Ellen;
	
}

#div1{
	background-image: url(img4.jpg);
	}

#div2{
	background-image: url(img1.jpg);
	
}


#div1,#div2,#div3,#div4{
	background-size: cover;
	background-position:center;
	height:700px;
	margin: 0px;
	max-width: 110%;

}

/*.nav{
	opacity:1;
}
*/

.box{
	border:1px solid #f2f2f2 ;
	max-height:85%;
	/*max-width:95%;*/
	margin: 30px;
	color: #f2f2f2;
	transition: 1s;
/*	display: flex;*/
	

}

a.nav-link:hover{
	border-bottom: 2px solid grey;
	border-radius:150px;
	color: #f2f2f2;
	
	transition: 1s;
}

.nav-link{
	color: #f2f2f2;
	transition: 1s;
}

.nav{
	
	padding: 10px;
	display: flex;
	justify-content: space-around;

	
}

.innerbox{

	display: flex;
	/*align-items: center;*/
	justify-content: center;

	margin-top: 280px;
	margin-bottom:30px; 
	/*padding:400px;*/

}
iframe{
	padding: 20px;
	height: 200px;
	width:200px;
	transition: 1s;
}
iframe:hover{
	padding: 10px;
	height: 400px;
	max-width:400px;
	transition: 0.5s;
}

.btn-outline-danger{
	
	transition: 1s;
	
	color: #FFF;
	
	padding: 19px 56px 21px;
	font-size: 16px;
	    line-height: 1;
    border-radius: 500px

}

.btn-outline-danger:hover{
	transform:scale(1.1);
	transition: 1s ease-in-out;

}

.box:hover{
	transform: scale(1.01);

	transition: 1s ease-in-out;
}

h1{
	margin-top:100px;
	
	text-align: center;
	text-transform: unset;
	backface-visibility: hidden;

}

.box2{
	border:1px solid red ;
	color: black;
	transition:2s;
	perspective: 1000px;

}

.box2:hover{
	transform: rotateY(180deg);
	transition-delay: 10s;
	color:white;
	background:red; 
	transition: 2s;
	

}