body{
	margin: 0px;
	font-family:Beth Ellen;
	
}



#div1{
	background-image: url(img4.jpg);
	transition: 1s;
	}
#div1:hover{
	background-image: url(Music.jpg);
	transition: 1s;
	transform: translateX(10);
}
#div2{
	background-image: url(img1.jpg);
	
}




#div1,#div2,#div3,#div4{
	background-size: cover;
	background-position:center;
	height:700px;
	margin: 0px;
	max-width: 110%;

}

/*.nav{
	opacity:1;
}
*/

.box{
	border:1px solid #f2f2f2 ;
	max-height:85%;
	/*max-width:95%;*/
	margin: 30px;
	color: #f2f2f2;
	transition: 1s;
/*	display: flex;*/
	

}

a.nav-link:hover{
	border-bottom: 2px solid grey;
	border-radius:150px;
	color: #f2f2f2;
	
	transition: 1s;
	letter-spacing: 15px;

}

.nav-link{
	color: #f2f2f2;
	transition: 1s;
	font-weight: 600;
	letter-spacing: 10px;
}

.nav{
	
	padding: 10px;
	display: flex;
	justify-content: space-around;

	
}

.innerbox{

	display: flex;
	/*align-items: center;*/
	justify-content: center;

	margin-top: 200px;
	margin-bottom:30px; 
	/*padding:400px;*/

}
iframe{
	padding: 20px;
	height: 100px;
	width:50%;
	
	transition: 1s;
}
iframe:hover{
	padding: 20px;
	height: 360px;
	width:90%;
	transition: 0.5s;
}

.btn-outline-danger{
	
	transition: 1s;
	
	color: #FFF;
	
	padding: 19px 56px 21px;
	font-size: 16px;
	    line-height: 1;
    border-radius: 500px


}

.btn-outline-danger:hover{
	transform:scale(1.1);
	transition: 1s ease-in-out;
	letter-spacing: 5px;

}

.box:hover{
	transform: scale(1.01);

	transition: 1s ease-in-out;
	letter-spacing: 0.3em;

}

h1{
	margin-top: 100px;
	/*font-size: 4rem;*/
	text-align: center;
	text-transform: unset;
	backface-visibility: hidden;


}

.box2{
	border:1px solid red ;
	color: black;
	transition:2s;
	perspective: 1000px;

}

.box2:hover{
	transform: rotateY(180deg);
	transition-delay: 10s;
	color:white;
	background:red; 
	transition: 2s;
	

}


   
